<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">

<nav th:replace="fragments :: page-header"></nav>

<h1>Select a Program</h1>

<form method="post" style="max-width:600px;">

    <div class="form-group">
        <th:block th:each="program : ${programs}">
            <h2 th:text="${program.name}"></h2>
            <th:block th:each="certification : ${program.getCertifications()}">
                <input type="checkbox" name="certifications" th:value="${certification.id}"
                       th:text="${certification.name}">
            </th:block>
        </th:block>
    </div>

    <input type="submit" value="Previous" name="_target0" /> <input type="submit" value="Next" name="_target2" />

</form>

</body>
</html>